html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    margin: 0;
    padding: 0;
    background-image: url('../res/fondo.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: 100% 100%;
    background-color: #0067ff;
}

html,
body {
    overscroll-behavior: contain;
}

.canvas {
    margin: 0;
    padding: 0;
    position: absolute;
    /*width: 82.5%;
    height: 92.5%; */
    border: solid;
}

.premio {
    margin-right: auto;
    margin-left: auto;
}